<div class="col-sm-12 col-lg-4 mb-3">
  <div class="row">
    <div class="col">
      <div id="board-id-<%= board.id %>">
        <div class="card">
          <%= image_tag board.board_image_url, class: 'card-img-top', size: '300x200' %>
          <%# board_imageが存在しない場合にはdefault_url(app/uploaders/board_image_uploader.rbに記述)が呼び出される　%>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to board.title, board_path(board) %>
            </h4>
            <%= render 'crud_menus', board: board %>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="far fa-user"></i><%= board.user.decorate.full_name %></li>
              <li class="list-inline-item"><i class="far fa-calendar"></i><%= l board.created_at %></li>
            </ul>
            <p class="card-text"><%= board.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>